.signin-container {
    border-left: 3px solid var(--primary-color);
    flex: 1;
    /* height: 90%; */
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #f0f0f0; */
}

.signin-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--text-color);
}

.signin-container p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: var(--text-color);
}

.signin-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signin-container input[type="userAccount"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1em;
}

.signin-container input[type="password"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1em;
}

.signin-container label {
    font-size: 1.2em;
    color: var(--text-color);
    margin-bottom: 5px;
    text-align: start;
    width: 60%;
}

.signin-container button {
    width: 50%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 5px;
}